YANDEX_CLOUD_FOLDER=
YANDEX_CLOUD_API_KEY=
YANDEX_CLOUD_MODEL=

# PostgreSQL
POSTGRES_DB=sdm_hack
POSTGRES_USER=sdm_hack
POSTGRES_PASSWORD=sdm_hack_password
POSTGRES_HOST=localhost
POSTGRES_INTERNAL_HOST=postgres
POSTGRES_PORT=5432

# Connection from host machine
DATABASE_URL=postgresql://sdm_hack:sdm_hack_password@localhost:5432/sdm_hack

# Connection from docker-compose services
DATABASE_URL_DOCKER=postgresql://sdm_hack:sdm_hack_password@postgres:5432/sdm_hack
